* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
}

.header__img {
    max-width: 100px;
}

.header__navigation {
    width: 100%;
    max-width: 900px;
}

.header__unordered-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.header__list-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

/* Huvudinnehållet börjar här */
.main-grid {
    display: grid;
    padding: 1rem;
    gap: 2rem 0;
    grid-template-columns: repeat(12, 1fr);
}

.main-grid__title {
    font-size: 4rem;
    grid-column: span 12;
    text-align: center;
}

.main-grid__inner-grid {
    grid-column: span 7;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
}

.main-grid__img {
    width: 100%;
    background-color: aliceblue;
    align-self: center;
}

.main-grid__img--span-7 {
    grid-column: span 7;
}

.main-grid__article {
    grid-column: span 5;
}

.main-grid__article--margin-left {
    margin-left: 1rem;
}

.main-grid__article--margin-right {
    margin-right: 1rem;
}

.main-grid__sub-title {
    font-size: 3rem;
}

.main-grid__text {
 font-size: 1.5rem;
}

.call-to-action {
    padding: 1rem;
    grid-column: span 12;
    text-align: center;
    background-color: antiquewhite;
}

.call-to-action__unordered-list {
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.call-to-action__list-item-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.call-to-action__title {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

.call-to-action__grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 8fr 1fr;
    gap: 1rem;
    justify-content: center;
}

.call-to-action__inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem 1rem;
}

.call-to-action__legend {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
}

.call-to-action__input {
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 2rem;
    font-size: 1.5rem;
}

.footer-grid {
    margin-top: 5rem;
    padding: 1rem;
    display: grid;
    text-align: center;
    align-items: center;
    background-color: gainsboro;
    grid-template-columns: repeat(3, 1fr);

}

.footer-grid__container {
    grid-column: span 1;
}

.footer-grid__img {
    width: 40px;
}

.footer-grid__img--width-50 {
    width: 50%;
}

.footer-grid__title {
    margin-top: 1rem;
    font-size: 1.5rem;
}